html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 1em;
  font-family: 'Alegreya', serif;
  background-image: url("img/lights_gold_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
}
#hebrew {
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 1;
  font-family: initial;
}
nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  height: 3em;
  align-items: center;
  background-color: #fff;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  font-family: 'Calligraffitti', cursive;
  font-size: 1.25em;
}
nav a {
  text-decoration: none;
  color: inherit;
}
header {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  margin: 6em 0 1em;
}
header > h1 {
  font-size: 4em;
}
main {
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 0 3em 0.5em #fff;
}
#hero {
  display: block;
  margin: 3em auto;
  height: auto;
  width: 50%;
  box-shadow: 0 0 1em 2em rgba(255,255,255,0.75);
}
section {
  min-height: 30em;
  width: 75%;
  margin: 0 auto;
  padding: 3em;
}
.scrolled {
  background-color: rgba(233, 233, 233, 0.8);
  box-shadow: 0 0px 15px;
  transition: background-color 200ms linear;
}
section h1, h2 {
  font-family: 'Calligraffitti', cursive;
  text-align: center;
}
section > h1 {
  font-size: 2em;
}
section > h2 {
  font-size: 1.6em;
}
h3 > span {
  font-weight: bolder;
  margin-right: 2em;
  font-size: 1.25em;
}
.detailsContainer {
  position: relative;
}
.details {
  background-color: rgba(233, 233, 233, 0.8);
  transition: background-color 200ms linear;
  display: none;
  position: absolute;
  padding-top: 0.8em;
  width: 100%;
}
.detailsActive {
  display: block;
  transition: all 300ms linear;
}
.details a {
  display: block;
  border-top: 1px solid;
  font-size: 1em;
}
#venueContainer,
#hotelContainter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.gridItem {
  margin: 1.5em;
}
main > hr {
  width: 90%;
}
section > hr {
  width: 50%;
}

/* media queries */
@media screen and (max-width: 800px) {
  nav {
    display: none;
  }
  #hebrew {
    font-size: 2em;
  }
  header > h1 {
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    text-align: initial;
    background-color: rgba(255,255,255,0.8);
  }
  .mediaQueryScroll {
    background-color: rgba(233, 233, 233, 0.8);
    font-size: 2em;
    box-shadow: 0 0px 15px;
    transition: all 200ms linear;
  }
  iframe {
    width: 100%;
  }
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.button button {
  display: inline-block;
  width: 400px;
}
button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 200px;
  margin: 20px auto 0px auto; 
  float:left;
}
.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;  
}
.form {
  height: 590px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}
